.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
}

.search {
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
  gap: 10px;
}

.search-input {
  width: 70%;
  padding: 10px;
  font-size: 1.1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  font-size: 1.1em;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

h2 {
  font-size: 1.8em;
  color: #333;
}

p {
  font-size: 1.1em;
  color: #555;
}

div > p {
  margin: 5px 0;
}
