.container {
  display: flex;
  justify-content: center;
}
.box {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  height: 100vh;
}
.toggle {
  background-color: blanchedalmond;
  padding: 30px;
  border-radius: 10px;
}
button {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
}
button:hover {
  background-color: rgb(102, 70, 70);
  color: white;
}
